.controls_wrapper {
    display: flex;
    justify-content: center;
}

.search_wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.search {
    width: 100%;
    margin: 0 20px 30px 20px;
    padding: 5px 10px;
    border-radius: 15px;
    outline: none;
    border: 1px solid var(--component-background-default);
    background-color: var(--component-background-default);
    color: var(--text-background-default);
    font-size: 20px;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
}
 
.search_wrapper i {
    position: absolute;
    top: 8px;
    right: 30px;
    color: var(--text-background-default);
    cursor: pointer;
}