* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  background-color: var(--body-background-default);
  font-family: 'Oleo Script';
}

.highlight {
  background: var(--highlight-background-default)
}

:root {

  --body-background-dark: #2E3035;
  --body-background-light: #fff;
  --body-background-default: var(--body-background-light);

  --component-background-dark: #4F4F4F;
  --component-background-light: #fff;
  --component-background-default: var(--component-background-light);

  --text-background-dark: #E5E5E5;
  --text-background-light: #000;
  --text-background-default: var(--text-background-light);

  --card-background-dark: #2E3035;
  --card-background-light: rgba(71, 147, 255, 0.2);
  --card-background-default: var(--card-background-light);

  --highlight-background-dark: #FFA500;
  --highlight-background-light: #FFFF00;
  --highlight-background-default: var(--highlight-background-light);

}